---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro'
import Services from '../components/Services.astro'
import Benefits from '../components/Benefits.astro'
import CTA from '../components/CTA.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Wonkai - Software Factory">
  <main class="min-h-screen bg-background text-text">
    <Hero />
    <About />
    <Projects />
    <Services />
    <Benefits />
    <CTA />
    <Footer />
  </main>
</Layout>
