---
import BenefitsContent from './BenefitsContent'
---

<section id="beneficios" class="py-20 lg:py-32 relative">
  <!-- Background Effects -->
  <div class="absolute inset-0 bg-gradient-to-b from-transparent via-secondary/5 to-transparent"></div>
  
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <BenefitsContent client:load />
  </div>
</section>
